html {
	background-color: #ffe6ff;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	}
nav {
	padding: 0.24em;
	text-transform: uppercase;
	letter-spacing: 0.375em;
	text-align: center;
}
p {
	margin: auto;
	font-size: 150%;
	padding: 25px 50px;
	color: purple;
	line-height: 30px;
	border-top-style: hidden;
	border-bottom-style: dashed;
	}
h1 {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	background-color: #bbff99;
	width: 1350px;
	color: black;	
}
h2 {	
	font-size: 150%;
	font-weight: 500;
	background-color: lightgreen;
	width: 1350px;
	text-align: center;
	}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ff9999;	
}
ol li {
	text-decoration: underline;
	font-size: 140%;
}
ul li {
	font-size: medium;
	text-decoration: underline;
	margin-left: 2rem;
	float: left;
	text-align: center;
	}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
header, footer {
	display: block;
	color: green;
}
body {
	line-height: 1.5;
	color: black;
	font-family: "Dosis", Serif;
}
#logo {
	text-align: left;
}
iframe {
	margin-left: 20rem	
}
a:hover:not(.active) {
	background-color: #111;
}
